
<ion-header>
    <ion-navbar *ngIf="!cargando"   color="{{micolor}}">
        <button ion-button menuToggle left>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Cantidad de respuestas por pregunta</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
<br><br><br>
    <div *ngIf="cargando" text-center>
        <ion-spinner text-center></ion-spinner>
    </div>

    <ion-list *ngIf="!cargando">
        <ion-item>
            <ion-label>Pregunta:</ion-label>
            <ion-select [(ngModel)]="Unapregunta" (ionChange)="onChange(Unapregunta)">
                <div *ngFor="let p of pregs">
                    <ion-option value={{p}}>{{p}}</ion-option>
                </div>
            </ion-select>
        </ion-item>
    </ion-list>

    <div id="container"></div>



                     
<div *ngIf="conjAver2 != ''"> 
    <table>
    <tr>
      <th>Respuesta</th>
      <th>Cantidad</th>
    </tr>
    <tr *ngFor="let p of conjAver2">
      <td>{{p.drilldown}}</td>
      <td>{{p.y}}</td> 
    </tr>
  </table>
</div>

</ion-content>
