<ion-header>
  <ion-toolbar color="primary" >
    <ion-title color="primary">
        Agregar Preguntas
    </ion-title>

    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngIf="veoPreguntas">
Ingrese tipo de pregunta
    <ion-select [(ngModel)]="tipoPregunta">
      <ion-option [value] = "1" selected>texto</ion-option>
      <ion-option [value] = "2">una opcion</ion-option>
      <ion-option [value] = "3">multiple opciones</ion-option>
    </ion-select>
<div>
  <ion-input type="text"  name="pregunta" [(ngModel)]="pregunta" placeholder="ingrese pregunta" required></ion-input>
</div>

<div *ngIf="tipoPregunta!=1" >
  <ion-input type="text"  name="opcion1" [(ngModel)]="opcion1" placeholder="ingrese opcion 1" ></ion-input>
  <ion-input type="text"  name="opcion2" [(ngModel)]="opcion2" placeholder="ingrese opcion 2" ></ion-input>
  <ion-input type="text"  name="opcion3" [(ngModel)]="opcion3" placeholder="ingrese opcion 3"></ion-input>
  <ion-input *ngIf="tipoPregunta!=2" type="text"  name="opcion4" [(ngModel)]="opcion4" placeholder="ingrese opcion 4"></ion-input>
 </div>
  <button ion-button icon-left color=light (click)="altaPregunta()" round >
  <ion-icon ios="ios-create" md="md-create"></ion-icon>
  Nueva pregunta
</button>
</div>

 <div *ngIf="veoEncuesta">
   Ingrese descripcion de la Encuestas
     <ion-input type="text"  name="descripcion" [(ngModel)]="encuesta.descripcion" placeholder="ingrese descripcion" required></ion-input> 
    <ion-input type="date"  name="fechaInicio" [(ngModel)]="encuesta.fechaInicio" placeholder="ingrese fecha Inicio" required></ion-input> 
    <ion-input type="date"  name="fechaFin" [(ngModel)]="encuesta.fechaFin" placeholder="ingrese fecha fin" required></ion-input> 

      <button ion-button icon-left color=light (click)="altaEncuesta()" round >
  <ion-icon ios="ios-create" md="md-create"></ion-icon>
  Nueva encuesta
</button>
 </div>
</ion-content>