.dark-theme{

  ion-content{

background-color:#aeb7da;


  }
.toolbar-title{

 color:#fff;

}
.header .toolbar-background{
border-color:#fff ;
background-color: #35778c ;


  }
ion-item {
border-color:red ;
// background-color: #fff ;
//color:#fff;

border-color:#000 ;
}
.segment-md .segment-button {
background-color: #35778c ;
color:#fff;


}

button{
border-color:red ;
background-color: #35778c ;
color:#fff;


}


input-cover{color:#fff;

background-color: #fff;

}
}