.brown-theme{

 ion-content{

background-color:#efecc5;


  }
.toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
}

.header .toolbar-background{
border-color:#fff ;
background-color: #865c1c ;
color:#fff;

  }
button{

background-color: #865c1c ;
color:#fff;


}
.segment-md .segment-button {
background-color: #865c1c ;
color:#fff;


}
.card-header-md{

background-color: #865c1c ;
color:#fff;

}
}