.dark-theme{

  ion-content{

background-color:#aeb7da;


  }
.toolbar-title{

 color:#fff;

}
.header .toolbar-background{
border-color:#fff ;
background-color: #35778c ;


  }
ion-item {
border-color:red ;
// background-color: #fff ;
//color:#fff;

border-color:#000 ;
}
.segment-md .segment-button {
background-color: #35778c ;
color:#fff;


}

button{
border-color:red ;
background-color: #35778c ;
color:#fff;


}
ion-segment{
         border-radius: 30px !important;
         padding-left: 25px !important;
         padding-right: 25px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
         background-color: #35778c;


}

input-cover{color:#fff;

background-color: #fff;

}
}