

<div [hidden]="loadingPage">
  <ion-list>
    <div *ngFor="let item of users">
      <ion-card>
        <ion-card-header text-wrap>
          Nombre de usuario: {{item.username}}
        </ion-card-header>
        <ion-list>
          <ion-item>
             <p>Email: {{item.email}}</p>
    <p>Rol: {{item.rolid}}</p>
    <p>Nombre: {{item.firstname}}  </p>
    <p>Apellido: {{item.lastname}}</p>
    <p>Legajo:{{item.filenumber}}</p>
          </ion-item>
          <button ion-item color="danger" (click)="eliminar(item.userid)">
        <ion-icon name="create" item-start></ion-icon>
          Eliminar
        </button>
        </ion-list>|
      </ion-card>
    </div>
  </ion-list>
</div>
<!-- spinner -->
<div [hidden]="!loadingPage">
  <div>
    <ion-spinner></ion-spinner>
  </div>
  <div>
    <p>Espere por favor...</p>
  </div>
</div>
