// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #009688,
  secondary:  #8BC34A,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  rosa:       #DA0A80,
  violeta:    #6E0790,
  rosaClaro:  #FF6FC1,
  violetaClaro:#BF57BB,
  Azul: #2D2FC9,
  Negro: #111,
  Rosa:#FF6FC1,
  Verde:#009688,
  Violeta:#9B2BD0,
  Marron:#70413C,
  Rojo:#f53d11,

  estilo1:#009688,
  estilo2:#222,
  estilo3:#F6CFCA,
  estilo4:#A9F2F6,

  primary-color-dark:   #00796B,
  primary-color:        #009688,
  primary-color-light:  #B2DFDB,
  primary-color-text:   #FFFFFF,
  accent-color:         #8BC34A,
  primary-text-color:   #212121,
  secondary-text-color: #757575,
  divider-color:        #BDBDBD
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
