<ion-header>
   <ion-navbar>
      <button ion-button menuToggle left>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Profesor: </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
      <h1> Bienvenido al creador de encuestas</h1>
            <div *ngFor="let item of listaPreguntas" >   
        <label>{{item.pregunta}}</label>
          </div>
      <div *ngFor="let item of listaTipo" >
        <input [type]="item" name="item"><input>
      </div>

      <input type="submit" (click)="agregarTextbox()" value="Agregar textBox">
      <input type="submit" (click)="agregarSelect()" value="Agregar select">
  </ion-list>
    <div>
  <ion-item>
    seleccionar encuensta
    <ion-select [(ngModel)]="encuestaSeleccionada" multiple>
      <ion-option *ngFor="let encuesta of listaEncuestas; let i = index; trackBy: descripcion" [value] = "encuesta.descripcion">{{encuesta.descripcion}}</ion-option>
    </ion-select>
  </ion-item>
        <input type="submit" (click)="cursoSelecionado()" value="Agregar select">
  </div>
  <div>
  <ion-item>
        seleccionar curso
    <ion-select [(ngModel)]="cursoSeleccionado" multiple>
      <ion-option *ngFor="let curso of listaCursos; let i = index; trackBy: descripcion" [value] = "curso.descripcion">{{curso.descripcion}}</ion-option>
    </ion-select>
  </ion-item>
        <input type="submit" (click)="cursoSelecionado()" value="Agregar select">

  </div>
</ion-content>