<ion-content class="attendancelist">

  <div [hidden]="loadingPage">
    <ion-card>
      <ion-card-header color="secondary">
        <ion-icon name="clipboard" item-start></ion-icon>
        Buscar planilla por:
      </ion-card-header>


      <ion-list>
        <div [hidden]="admin">
          <button ion-item color="dark" (click)="assignedSubjectOnClick()">
          <ion-icon name="list-box" item-start></ion-icon>
          Materias Asignadas
        </button>
        </div>


        <div [hidden]="!admin">
          <button ion-item color="dark" (click)="pushPage(navButton.page)" *ngFor="let navButton of adminButtons">
          <ion-icon name="list-box" item-start></ion-icon>
          {{navButton.text}}
        </button>
        </div>
      </ion-list>
    </ion-card>
  </div>
  <!-- spinner -->
  <div [hidden]="!loadingPage">
    <div>
      <ion-spinner></ion-spinner>
    </div>
    <div>
      <p>Obteniendo Datos del perfil. Espere por favor.</p>
    </div>
  </div>
</ion-content>