<div [hidden]="!hideSpinner">
  <ion-list>
    <form [formGroup]="form" padding>
      <ion-item>
        <ion-label color="primary" stacked>Titulo:</ion-label>
        <ion-input type="text" placeholder="" formControlName="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Pregunta:</ion-label>
        <ion-textarea placeholder="" formControlName="text"></ion-textarea>
      </ion-item>
    </form>
    <ion-item>
      <ion-label>¿Desea agregar respuestas?</ion-label>
      <ion-toggle [(ngModel)]="haveOptions" (ionChange)="haveOptionsOnChange()"></ion-toggle>

    </ion-item>
    <div [hidden]="!haveOptions">

      <ion-list *ngFor="let option of options;let i = index">
        <ion-card>
          <ion-card-header>
            Respuesta {{ i + 1}}
          </ion-card-header>
          <ion-list>
            <ion-item>
              <ion-textarea placeholder="Ingrese el texto" [(ngModel)]="option.text"></ion-textarea>
            </ion-item>
            <ion-grid>
              <ion-row>
                <ion-col col-9>
                  <ion-item>
                    <ion-label>Es Correcta</ion-label>
                    <ion-checkbox [(ngModel)]="option.isRight"></ion-checkbox>
                  </ion-item>
                </ion-col>
                <ion-col col-3>
                  <ion-item>
                    <ion-fab left middle>
                      <button ion-fab mini (click)="deleteOption(i,option)" color="danger" [disabled]="disableDeleteButton">
                      <ion-icon ios="ios-close" md="md-close" ></ion-icon>
                    </button>
                    </ion-fab>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
        </ion-card>

      </ion-list>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-3>
              <ion-fab left middle>
                <button ion-fab mini (click)="add()" color="secondary"><ion-icon name="add"></ion-icon></button>
              </ion-fab>
            </ion-col>
            <ion-col col-9 text-center text-wrap>
              Agregar otra respuesta
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    </div>

  </ion-list>

  <ion-item>
    <ion-label text-wrap>¿Desea agregar fecha de finalizacion?</ion-label>
    <ion-toggle [(ngModel)]="haveEndDate" (ionChange)="haveEndDateOnChange()"></ion-toggle>
  </ion-item>

  <ion-item *ngIf="haveEndDate">

    <ion-label color="primary" stacked>Fecha :</ion-label>
    <ion-input type="date" placeholder="Año/Mes/Día" [(ngModel)]="endDate"></ion-input>

  </ion-item>
  <button ion-button round full (click)="showConfirm()" [disabled]="!form.valid">Guardar Cambios</button>
</div>
<div [hidden]="hideSpinner">
  <div>
    <ion-spinner></ion-spinner>
  </div>
  <div>
    <p>Guardando cambios. Espere por favor.</p>
  </div>
</div>