
<ion-header>

  <ion-navbar>
    <ion-title>Alta de cursos</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

 <ion-item>
    <ion-label floating>Nombre del curso:</ion-label>
    <ion-input type="text" [(ngModel)]="d"></ion-input>
  </ion-item>
 


<ion-list>
  <ion-item>
    <ion-label>Comision:</ion-label>
    <ion-select [(ngModel)]="desc_comi" >
        <div *ngFor="let c of comisiones" >
        <ion-option value={{c.id_comision}} >{{c.descripcion}}</ion-option> 
        </div>      
    </ion-select>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item>
    <ion-label>Profesor</ion-label>
    <ion-select [(ngModel)]="profe" >
        <div *ngFor="let p of UssP" >
        <ion-option value={{p.id_usuario}} >{{p.nombre}}</ion-option> 
        </div>      
    </ion-select>
  </ion-item>
</ion-list>

<button ion-button color=light (click)="Alta(d,desc_comi,profe)"> Dar de alta </button>
<button ion-button color=light (click)="Cancelar()"> Cancelar </button>



</ion-content>
