<!--
Generated template for the GrillaAdministrador page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle left>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Administrativos</ion-title>

        <ion-buttons end>
            <button *ngIf="!cargando" ion-button icon-only (tap)="CargaGrilla()">
                <ion-icon name="refresh"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <div *ngIf="cargando" text-center>
        <ion-spinner text-center></ion-spinner>
    </div>

    <ion-list *ngIf="!cargando">

        <ion-item *ngFor="let usr of usuarios" (press)="abrirActionSheet(usr)" >
            <ion-avatar item-left>
                <img [src]="usr.imagen" *ngIf="usr.imagen">
            </ion-avatar>

            <h2>{{usr.nombre}}</h2>
            <p>{{usr.usuario}}</p>

            <button ion-button clear item-right (tap)="abrirActionSheet(usr)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-item>

    </ion-list>

    <ion-fab *ngIf="!cargando" bottom right>
        <button ion-fab (tap)="Alta()" color="primary">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>

</ion-content>
