page-home { .login{background-image: url('../assets/img/9.jpg');}
.logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
       align-items: center;
    } .ion-row {
       align-items: center;
       text-align: center;
     }.login-box {
      background: #2b6063;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }
.submit-btn {
       background: #2b6063;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }
 ion-navbar{

color: #2b6063;

 }
.new-background {
  background-color: blue;
}
   p {
      
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
         background-color: white;
      
    }
    ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         box-shadow: none !important;
     }
}
