page-administrativo {
.fondo{
    background-image: url("assets/img/menu_Administrativo.png");
    background-size: 400px 700px;
}

.rosa{
    background-color: "rosa";
    color:"rosaClaro";
 
}

.violeta{
    background-color: "violeta";
    color:"violetaClaro";
}
}



