page-answer-option-text-viewer {.answer{background-image: url('../assets/img/answer.jpg');
background-repeat: no-repeat;
background-size:cover;}
p{
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
         background-color: white;


}

}
