
<div>
    <form [formGroup]="form" padding>
  <ion-list>
   
    <ion-item>
      <ion-label color="primary" stacked>Titulo:</ion-label>
      <ion-input type="text" placeholder=""formControlName="Titulo" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Pregunta:</ion-label>
      <ion-input type="text" placeholder=""formControlName="Pregunta"></ion-input>
    </ion-item>

    </ion-list>
    
    <ion-item>
     
      <ion-label>¿Desea agregar opciones?</ion-label>
     <ion-toggle [(ngModel)]="toggleStatus"pulsado checked="false"[ngModelOptions]="{standalone : true }" (ionChange)="ChangeToggle();"></ion-toggle>
    </ion-item>

<div *ngIf="toggleStatus === true">
  
  <div *ngFor="let option of options">
<ion-label color="primary" stacked>Respuesta :</ion-label>
      <ion-input type="text"[(ngModel)]="option.text" [ngModelOptions]="{standalone : true }"  ></ion-input>
      <ion-label> <ion-checkbox [(ngModel)]="option.isRight"[ngModelOptions]="{standalone : true }"  ></ion-checkbox> Es Correcta </ion-label>
      
</div>

<ion-item>  <ion-icon ios="ios-add" md="md-add"> </ion-icon> <button clear-button 
  (click)="add()"> Agregar Nueva Opcion</button></ion-item>
 <!--// [ngModelOptions]="{standalone : true }"-->
  
  </div>
 
    <ion-item>
      <ion-label>¿Desea agregar fecha de finalizacion?</ion-label>
     <ion-toggle [(ngModel)]="toggleStatus2" [ngModelOptions]="{standalone : true }" pulsado checked="false" (ionChange)="ChangeToggle2();"></ion-toggle>
    </ion-item>

<ion-item *ngIf="toggleStatus2 === true">
 
  <ion-label color="primary" stacked>Fecha :</ion-label>
      <ion-input type="date"placeholder=" Año/Mes/Día" clearInput formControlName="Fecha"></ion-input>

  </ion-item>


    </form>

    <button ion-button round outline (click)=" showConfirm()">Terminar</button> 
 
  <!--<div *ngFor="let option of options">
<ion-label color="primary" stacked>Respuesta :</ion-label>
      <ion-input type="text"[(ngModel)]="option.text"></ion-input>
      <ion-label> <ion-checkbox [(ngModel)]="option.isRight"></ion-checkbox> Es Correcta </ion-label>
      
  <ion-item>  <ion-icon ios="ios-add" md="md-add"> </ion-icon> <button clear-button 
  (click)="add()"> Agregar Nueva Opcion</button></ion-item>
 
</div>-->

</div>