
<ion-menu [content]="content" side="left">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <!-- alumno-->
      <button *ngIf="usuarioLogueado.tipo_usuario == 'Alumno'" ion-item (click)="openPage(alumnoPage)" menuClose>
        Mis encuestas
      </button>
      <!-- fin alumno -->

      <!-- administrador-->
      <button *ngIf="usuarioLogueado.tipo_usuario == 'Administrador'" ion-item (click)="openPage(grillaProfesor)" menuClose>
       ABM Profesores
      </button>
       <button *ngIf="usuarioLogueado.tipo_usuario == 'Administrador'" ion-item (click)="openPage(grillaAlumno)" menuClose>
       ABM Alumnos
       </button>
        <button *ngIf="usuarioLogueado.tipo_usuario == 'Administrador'" ion-item (click)="openPage(grillaAdministrativo)" menuClose>
        ABM Administrativos
       </button>
        <button *ngIf="usuarioLogueado.tipo_usuario == 'Administrador'" ion-item (click)="openPage(grillaAdministrador)" menuClose>
        ABM Administradores
       </button>
        <button *ngIf="usuarioLogueado.tipo_usuario == 'Administrador'" ion-item (click)="openPage(grillaComision)" menuClose>
        ABM Comisiones
       </button>
        <button *ngIf="usuarioLogueado.tipo_usuario == 'Administrador'" ion-item (click)="openPage(grillaCurso)" menuClose>
        ABM Cursos
       </button>

       <!-- fin administrador -->
      
       <!-- administrativo -->
        <button *ngIf="usuarioLogueado.tipo_usuario == 'Administrativo'" ion-item (click)="openPage(grafico1)" menuClose>
        Respuestas por preguntas
       </button>
       <button *ngIf="usuarioLogueado.tipo_usuario == 'Administrativo'" ion-item (click)="openPage(grafico2)" menuClose>
        cantidad de encuestas por curso
       </button>
       <button *ngIf="usuarioLogueado.tipo_usuario == 'Administrativo'" ion-item (click)="openPage(grafico3)" menuClose>
        cantidad de alumnos por curso
       </button>
       <!-- fin administrativo -->
       <button *ngIf="usuarioLogueado.tipo_usuario == 'Profesor'" ion-item (click)="Encuestas('profesorGenerar')" menuClose>
        Generar encuesta
       </button>
       <button *ngIf="usuarioLogueado.tipo_usuario == 'Profesor'" ion-item (click)="Encuestas('profesorEnviar')" menuClose>
        Enviar encuesta
       </button>
       
   
      <button ion-item (click)="cerrarSesion()">
        Cerrar sesion
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
