
<ion-header>

  <ion-navbar color="primary">
      <button ion-button menuToggle left>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Cursos</ion-title>
  </ion-navbar>
</ion-header>

 

<ion-content padding>

    <button ion-button icon-left color=light (click)="Alta()" round >
  <ion-icon name="person-add" ></ion-icon>
  Nuevo curso
</button>


<div *ngFor="let c of Cur">
<ion-card >
  <ion-card-content>
    <ion-card-title>
        {{c.descripcion}}
      </ion-card-title>
   
        Comision: {{c.comision_descripcion}}<br><br>
        <div *ngFor="let pro of profesores">
          <div *ngIf="pro.id_usuario==c.id_usuario">
            Profesor: {{pro.nombre}}<br><br>
          </div>
         
        </div>
     
         <button ion-button color=danger (click)="Eliminar(c.id_curso, c.descripcion)">eliminar</button>
         <button ion-button color=secondary (click)="Modificar(c.id_curso, c.descripcion, c.comision_descripcion, c.id_usuario)">modificar</button>

 

  </ion-card-content>
</ion-card>
</div>

</ion-content>
