page-profesor {
.Profe{
 background-image: url("../assets/img/profe.png")  

<<<<<<< HEAD
.Profe{
 background-image: url("../assets/img/profe.png");
 background-size: 400px 650px;

h3,h2,h1 {
    color: white;
}
.fondo{
background-image: url("../assets/img/profe.jpg");
.header_profe{
background-color: #154654;
color:"primary";
}

=======
}
.header_profe{
background-color: #19285F;
>>>>>>> parent of e9b9e27... estilos
}
}
}