<ion-header>
   <ion-navbar>
      <button ion-button menuToggle left>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Profesor: {{usuarioLogueado.usuario}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="fondo">
  <ion-list>
      <h1> Bienvenido al asignador de encuestas</h1>
  </ion-list>
  <div>
  </div>

  <ion-item class="fondo">
    seleccionar encuesta
    <ion-select class="fondo" [(ngModel)]="encuestaSeleccionada" >
      <ion-option class="fondo" *ngFor="let encuesta of listaEncuestas; let i = index; trackBy: id_encuesta" [value] = "encuesta.id_encuesta">{{encuesta.descripcion}}</ion-option>
    </ion-select>
  </ion-item>
 
  <ion-item>
        seleccionar curso
    <ion-select [(ngModel)]="cursoSeleccionado" class="fondo">
      <ion-option class="fondo" *ngFor="let curso of listaCursos; let i = index; trackBy: id_curso" [value] = "curso.id_curso">{{curso.descripcion}}</ion-option>
    </ion-select>
  </ion-item>
<button ion-button color="primary" (click)="EnviarEncuesta()">
        <ion-icon name="plus"></ion-icon>
        Enviar encuesta 
      </button>

</ion-content>