page-generarencuesta{
.fondo{
    // background-image: url("../assets/img/generar_encuesta.png");
 
	background-color: #d9d9d9;

}
.card{
 	//  background-color:  #009688; 
 
 	 font-family: 'Cinzel', serif;
 	//  color: white; 
}
h3,h2 {
    	color:#154654;
}
.fondoEncu{
     background-color: #d9d9d9;

}

}
