quiz-manager-component {
.surveys{background-image: url('../assets/img/surveys.jpg');
background-repeat: no-repeat;
background-size:cover;}
.ion-segment-button{

      
    background-color: #ffffff
}
h1{
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
         background-color: #2b6063;


}
}
