<ion-content class="surveys">
<h1>    
  <ion-segment [(ngModel)]="wichComponent" color="light">
    <ion-segment-button color="light" value="new">
      Nueva
    </ion-segment-button>
    <ion-segment-button color="light" value="delete">
      Eliminar
    </ion-segment-button>
    <ion-segment-button color="light" value="update">
      Modificar
    </ion-segment-button>
  </ion-segment>
</h1>
  <div [ngSwitch]="wichComponent">
    <div *ngSwitchCase="'new'">
      <new-quiz-component>


      </new-quiz-component>
    </div>
    <div *ngSwitchCase="'delete'">
      <delete-quiz-component></delete-quiz-component>
    </div>
    <div *ngSwitchCase="'update'">
      <modify-quiz-component></modify-quiz-component>
    </div>
  </div>
</ion-content>