<ion-header>
    <ion-navbar color="{{micolor}}"  *ngIf="!cargando">
        <ion-buttons start left>
            <button ion-button icon-only (tap)="dismiss()">
                Cancelar
            </button>
        </ion-buttons>

        <ion-title>
            {{datos.queHago == "AgregarPregunta" ? 'Agregar pregunta' : 'Crear encuesta'}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
 <br><br><br><br>
  
    <div *ngIf="cargando" text-center>
        <ion-spinner text-center></ion-spinner>
    </div>

    <div *ngIf="!cargando">

        <div *ngIf="veoPreguntas">

            <ion-item>
                <ion-label floating>Ingrese tipo de pregunta</ion-label>
                <ion-select [(ngModel)]="tipoPregunta">
                    <ion-option value="1" selected>Texto</ion-option>
                    <ion-option value="2">Una opcion</ion-option>
                    <ion-option value="3">Multiples opciones</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label floating>Ingrese la pregunta</ion-label>
                <ion-input type="text"  name="pregunta" [(ngModel)]="pregunta" required></ion-input>
            </ion-item>

            <div *ngIf="tipoPregunta > 1">
                <ion-item>
                    <ion-input type="text"  name="opcion1" [(ngModel)]="opcion1" placeholder="ingrese opcion 1" ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input type="text"  name="opcion2" [(ngModel)]="opcion2" placeholder="ingrese opcion 2" ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input type="text"  name="opcion3" [(ngModel)]="opcion3" placeholder="ingrese opcion 3"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-input type="text"  name="opcion4" [(ngModel)]="opcion4" placeholder="ingrese opcion 4"></ion-input>
                </ion-item>
            </div>

            <button ion-button type="button" (click)="altaPregunta()" color="{{micolor}}-color" full [disabled]="tipoPregunta == '' || pregunta == ''">Crear pregunta</button>

        </div>

        <div *ngIf="veoEncuesta">
            <ion-item>
                <ion-label floating>Ingrese descripcion de la Encuestas</ion-label>
                <ion-input type="text"  name="descripcion" [(ngModel)]="encuesta.descripcion" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="date"  name="fechaInicio"  placeholder="Fecha inicio" [(ngModel)]="encuesta.fechaInicio" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="date"  name="fechaFin" placeholder="Fecha fin" [(ngModel)]="encuesta.fechaFin" required></ion-input>
            </ion-item>

            <!--&nbsp;&nbsp;&nbsp;<a href="#" class="myButton" (click)="altaEncuesta()">Nueva Encuesta</a>-->
            <button ion-button type="button" (click)="altaEncuesta()" color="{{micolor}}" full [disabled]="encuesta.descripcion == '' || encuesta.fechaInicio == '' || encuesta.fechaFin == ''">Crear Encuesta</button>

        </div>

    </div>
</ion-content>
